jsonargparse==4.32.0
lightning==2.3.3
ninja==1.11.1.1
numpy==1.26.4
pandas==2.2.2
pyarrow==17.0.0
PyYAML==6.0.1
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.5
wandb==0.17.5
xformers==0.0.27 # 0.0.27.post2 requires torch==2.4.0, which is incompatible.
zstandard==0.23.0
