accelerate==0.27.2
chardet==5.2.0
datasets==2.20.0
transformers==4.43.3
docstring_parser==0.16
rotary_emb @ git+https://github.com/Dao-AILab/flash-attention.git#subdirectory=csrc/rotary
xentropy_cuda_lib @ git+https://github.com/Dao-AILab/flash-attention.git#subdirectory=csrc/xentropy
dropout_layer_norm @ git+https://github.com/Dao-AILab/flash-attention.git#subdirectory=csrc/layer_norm
